{
    "singleQuote": true,
    "printwidth": 200,
    "prosewrap": "always",
    "tabwidth": 4,
    "useTabs": false,
    "trailingComma":"none",
    "bracketSpacing": true,
    "jsxBracketSameline": false,
    "semi": true
}